.card-img-top {
  height: 150px;
}

.check-dino-modal {

  .modal-body {
    padding: 0;
    margin: 0;
  }

  h4 {
    text-align: center;
    color: red;
  }

  .dinos {
    text-align: center;

    .btn-group {
      margin: 10px 0px;
    }

    .btn-secondary {
      background-color: gray !important;
      cursor: initial;

      margin: 10px 0px;
    }

    .btn-secondary:focus,
    .btn-secondary:active {
      background-color: gray !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}
