#notifications {

  .dropdown-menu,
  .dropdown-menu-right {
    margin: 0 !important;
    padding: 0 !important;
  }

  h5 {
    border: 3px solid #5b5b5b;
    border-radius: .1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #5b5b5b;
    color: #fff;

    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input ~ .checkmark {
    background-color: transparent;
    border: 2px solid #dc3545;
    border-radius: .3em;
    color: #dc3545;

    padding: 5px 10px;
    margin: 0px 10px;
    transition: 100ms ease-in;
  }

  input:hover ~ .checkmark {
    border-color: #b42a38;
    color: #b42a38;
    cursor: pointer;
  }

  input:checked ~ .checkmark {
    border-color: #5cb85c;
    color: #5cb85c;
  }

  .btn-warning {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5em;
    border-radius: 1em;

    padding: 5px 15px 5px 15px;
    margin-right: 15px;
  }

  .dropdown {
    font-family: Arial, Helvetica, sans-serif;
  }

  .dropdown-menu {
    width: 250px !important;
    padding: 15px;
  }

  .btn-success {
    margin: 0px 15px 15px 0px;
  }
}
