.staff-card {
  width: 19rem; 
  min-height: 350px;
}

.inactive {
  background-color: lightgrey !important;
}

.custom-switch{
  margin-left: 5em;
}

.background-red {
  background-color: red;
}

#chosen-avatar, #chosen-new-avatar {
  height: 418px;
}

.employee-card-photo {
  max-width: 15rem;
  max-height: 15rem;
}