#scheduledCards {
  width: 100%;
  font-size: .5rem;
}

.drop-here {
  min-height: 25rem;
}

.daysOfWeek {
  width: 10rem;
  background-color: transparent !important;
  h5 {
    color: white;
    border-bottom: 2px solid white;
  }
}

.should-scroll2 { 
  overflow: scroll;
  height: 25rem;
  margin: 1rem;
}

.dragItem {
  width: 80%;
  border-radius: 0 3px 3px 0 !important;
  position: relative;
  .card-body {
    height: 2rem;
    padding: 0;
  }
  img {
    left: -10px;
    position: absolute;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
  }
}

.child-elements {
  pointer-events: none;
}

.scheduled {
  position: relative;
  background-color: white;
  padding: 0;
  h5 {
    margin: 1rem;
  }
}

#unscheduled {
  width: 14rem;
  margin-right: 10rem !important;
  position: relative;
  background-color: white;
  padding: 0;
  h5 {
    margin: 1rem;
  }
}
