#scheduledCards {
  width: 100%;
}

.daysOfWeek {
  width: 18%;
  margin-bottom: 2rem;
}

.dragItem {
  width: 10rem;
  .card-body {
    padding: 0;
  }
}

#unscheduled {
  margin: 2rem;
  padding: 2rem;
}
