/* Color Palette: */

$background-color: #248232;
$background-hover: #c4b9b9;
$primary-color: #2a4494;
$primary-hover: #4169b3;
$secondary-color: #492c1d;
$font-color: #000000;
$danger-color: #de172e;
