@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./styles";
@import "./navBar.scss";
@import "../javascripts/components/consoleHeader/consoleHeader.scss";
@import "./cardStyling.scss";

@font-face {
  font-family: 'JPFont';
  src: url('../assets/fonts/JurassicPark-BL48.woff') format('woff');
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  background:
     url('./../assets/images/background.png')    /* image */
     top center / 100vw auto /* position / size */
     no-repeat                /* repeat */
     #16191e;                     /* color */
  // font-family: 'JPFont', Fallback, sans-serif;
  letter-spacing: 1.5px;
}

.header-font {
  font-family: 'JPFont', Fallback, sans-serif;
}

body.all-loaded {
  opacity: 1;
}

// .addButtonDiv {
//   display: flex;
//   justify-content: flex-end;
//   margin-right: 10em;}
  
.displayCards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; 
}

.logo {
  max-width: 125px;
  max-height: 125px;
}
.unassigned-box {
  margin-left: 25px;
}

.hide-assigned {
  display: none;
}

.custom-switch {
  font-size: 1em;
  // display: flex;
  // align-items: center;
}

#filterDiv, #addButton {
  // color: #FFC107
  color: lightgrey;
}

.custom-control:hover, #addButton:hover {
  color: #007bff;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  i {
    color: white;
  }
};

#filterDiv {
  margin-left: 2rem;
}

#addButton {
  margin-right: 2rem;
}

// .custom-switch{
//   margin-left: 5em;
// }