@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./styles";
@import "./navBar.scss";
@import "../javascripts/components/consoleHeader/consoleHeader.scss";

html {
  min-height: 100%;
}

body {
  background: linear-gradient(rgba(52,185,72,1), rgba(39,96,47,1));
}

.addButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 10em;}
  
.displayCards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; 
}

.logo {
  max-width: 125px;
  max-height: 125px;
}
.unassigned-box {
  margin-left: 25px;
}

.hide-assigned {
  display: none;
}
