@import '../../../styles/styles';


.collectionHeader {
  width: 389px;
  height: 82px;
  justify-self: center;
  background-image: url('./name-plate.png');
  background-repeat: no-repeat;
  background-size: 389px;
  line-height: 82px;
  text-align: center;
  text-shadow: -1px -1px 0 #95A6B1;
  color: #363A3B;
}

#collectionName {
  display: flex;
  justify-content: center !important;
}
